<html>
  <head>
    <title>CS Grad Helper</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        width: 800px;
        margin:auto;
      }

      .float-container:after {
        content:"";
        display:block;
        clear:both;
      }

      .form-container {
        margin:10px;
        padding:10px;
        border: 1px solid grey;
      }

      .col-4 {
        margin-left: 2px;
        margin-right: 2px;
        width: 33%;
        float:left;
      }
    </style>
  </head>
  <body>
    <div class="float-container">
      <div class="col-4" id="factorial_container">
        <div class="form-container">
          <form method="POST" action="/factoriel" name="factorial_container">
          {% csrf_token %}
            <p>Calculate n!</p>
            <label>Enter n:</label>
            <input type="number" name="factoriel" />
            <input type="submit" value="Go!" />
            <p>Result is: {{ fact_result }}</p>
          </form>
        </div>
      </div>

      <div class="col-4" id="fibonacci_container">
      <div class="form-container">
          <form method="POST" action="/fibonacci" name="fibonacci_container">
          {% csrf_token %}
            <p>Find nth fibonacci.</p>
            <label>Enter n:</label>
            <input type="number" name="fibonacci" />
            <input type="submit" value="Go!" />
            <p>Result is: {{ fib_result }}</p>
          </form>
        </div>
      </div>

      <div class="col-4" id="primes_container">
        <div class="form-container">
          <form method="POST" action="/primes" name="primes_container">
          {% csrf_token %}
            <p>List first n prime numbers.</p>
            <label>Enter n:</label>
            <input type="number" name="primes" />
            <input type="submit" value="Go!" />
            <p>Result is: {{ prime_result }}</p>
          </form>
        </div>
      </div>

      <div class="col-4" id="rle_container">
        <div class="form-container">
          <form method="POST" action="/encode" name="rle_container">
          {% csrf_token %}
            <p>Encode <a href="https://en.wikipedia.org/wiki/Run-length_encoding">RLE.</a></p>
            <label>Enter string:</label>
            <input type="text" name="encode" />
            <input type="submit" value="Go!" />
            <p>RLE is: {{ encode_result }}</p>
          </form>
        </div>
      </div>
      
      <div class="col-4" id="some_container">
        <div class="form-container">
          <form method="POST" action="/decode" name="decode_container">
          {% csrf_token %}
            <p>Decode <a href="https://en.wikipedia.org/wiki/Run-length_encoding">RLE.</a></p>
            <label>Enter RLE string:</label>
            <input type="text" name="decode" />
            <input type="submit" value="Go!" />
            <p>Decoded string is: {{ decode_result }}</p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>